@use "../core/variables" as *;
@use "../shared/layout" as *;

.c-error-boundary {
  @extend %flex-center;
  min-height: 100svh;
  width: 100svw;

  &__container {
    @extend %flex-col;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 28rem;
    background-color: $white;
    border: 1px solid $separator;
    padding: calc($spacing * 6);
    border-radius: $radius;
    box-shadow: $surface-shadow;
  }

  &__icon {
    @extend %flex-center;
    width: calc($spacing * 12);
    height: calc($spacing * 12);
    border-radius: calc($radius * 1000);

    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(in oklab, $danger 15%, transparent);
    }

    svg {
      width: calc($spacing * 4);
      height: calc($spacing * 4);

      circle {
        fill: $danger;
      }

      line,
      path {
        stroke: $danger;
      }
    }
  }

  &__content {
    @extend %flex-col;
    width: 100%;
    margin-top: calc($spacing * 4);
    row-gap: calc($spacing * 4);
    text-align: center;

    button {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.125rem;
    font-weight: $font-weight-medium;
    color: $foreground;
  }

  &__subtitle {
    font-size: 0.875rem;
    color: $muted;
    margin-top: calc($spacing * 1);
  }

  &__details {
    width: 100%;
    margin-top: calc($spacing * 4);
    text-align: left;

    summary {
      cursor: pointer;
    }

    span {
      font-size: 0.875rem;
      font-weight: $font-weight-medium;
      color: $foreground;
    }

    &__pre {
      margin-top: calc($spacing * 2);
      padding: calc($spacing * 2);
      font-size: 0.75rem;
      color: $danger;
      border-radius: calc($radius * 0.5);
      overflow: auto;

      @supports (color: color-mix(in lab, red, red)) {
        background-color: color-mix(in oklab, $danger 15%, transparent);
      }
    }
  }
}
