@use "./variables" as *;

html {
  box-sizing: border-box;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

html,
body {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  line-height: 1.35;
  background: $surface;
  color: $surface-foreground;
}
