$spacing: 0.25rem;
$radius: 0.5rem;
$disabled-opacity: 0.5;

// Transitions
$ease-smooth: ease;
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out: cubic-bezier(0, 0, 0.2, 1);

// Font Weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$white: oklch(100% 0 0);
$black: oklch(0% 0 0);
$snow: oklch(99.11% 0 0);
$eclipse: oklch(21.03% 0.0059 285.89);
$background: oklch(97.02% 0 0);
$foreground: $eclipse;
$surface: $white;
$surface-foreground: $foreground;
$overlay: $white;
$overlay-foreground: $foreground;
$muted: oklch(55.17% 0.0138 285.94);
$scrollbar: oklch(87.1% 0.006 286.286);
$default: oklch(94% 0.001 286.375);
$default-foreground: $eclipse;
$accent: oklch(62.04% 0.195 253.83);
$accent-foreground: $snow;
$border: oklch(0% 0 0);
$separator: oklch(92% 0.004 286.32);
$field-background: $white;
$field-foreground: oklch(21.03% 0.0059 285.89);
$field-placeholder: $muted;
$field-border: transparent;
$success: oklch(73.29% 0.1935 150.81);
$success-foreground: $eclipse;
$warning: oklch(78.19% 0.1585 72.33);
$warning-foreground: $eclipse;
$danger: oklch(65.32% 0.2328 25.74);
$danger-foreground: $snow;

// Shadows
$surface-shadow: 0 2px 4px 0 #0000000a, 0 1px 2px 0 #0000000f,
  0 0 1px 0 #0000000f;
$overlay-shadow: 0 4px 16px 0 #18181b14, 0 8px 24px 0 #18181b17;
$field-shadow: 0 2px 4px 0 #0000000a, 0 1px 2px 0 #0000000f, 0 0 1px 0 #0000000f;

// Z-Indexes
$z-indexes: ("modal", "overlay", "nav", "content", "4", "3", "2", "1");
