@use "../core/variables" as *;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

.c-section {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;

  &__header {
    margin-bottom: 2rem;
    @extend %flex-between;

    &__group {
      @extend %flex-col;
      gap: 0.5rem;
    }

    &__title {
      font-size: 1.125rem;
      line-height: 1;
      font-weight: $font-weight-semibold;
      letter-spacing: -0.025em;
    }

    &__subtitle {
      color: $muted;
      font-size: 0.875rem;
      line-height: calc($spacing * 6);
      text-wrap: pretty;
    }
  }

  @media (max-width: 48rem) {
    padding-inline: 0;
  }
}

.c-empty {
  @extend %flex-center;
  width: 100%;
  height: 20rem;
  max-width: 24rem;
  margin: 0 auto;

  &__container {
    @extend %flex-col;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    row-gap: calc($spacing * 5);
    width: 100%;
  }

  &__icon {
    @extend %flex-center;
    width: calc($spacing * 12);
    height: calc($spacing * 12);
    border-radius: calc($spacing * 3);
    background: linear-gradient(135deg, #dbdee5 1.89%, #f6f7f9 98.77%);
    padding: calc($spacing * 3);
  }

  &__content {
    @extend %flex-col;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    row-gap: calc($spacing * 2.5);
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: $font-weight-bold;

    @media (min-width: 48rem) {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }

  &__subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-normal;
    color: $muted;
  }

  @media (min-width: 40rem) {
    height: 24rem;
  }
}

.c-search-field {
  min-width: 16rem;
  max-width: 20rem;

  @media (max-width: 48rem) {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 48rem) {
  .app-content {
    padding: 0 1.5rem;
  }
}
