@use "../core/variables" as *;
@use "../shared/layout" as *;
@use "../utils/mixins" as *;

.c-posts__container {
  margin-bottom: calc($spacing * 6);

  &__header {
    font-size: 1rem;
    font-weight: $font-weight-semibold;
    letter-spacing: -0.025em;

    &-wrapper {
      @extend %flex-between;
      margin-bottom: calc($spacing * 4);
      gap: calc($spacing * 4);
      flex-wrap: wrap;
    }
  }
}

.c-post-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  &[data-skeleton="true"] {
    gap: calc($spacing * 6);
  }

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 64rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  > * + * {
    // border-top: 1px solid $separator;
  }
}

.c-post {
  @extend %flex-col;
  width: 100%;
  margin: 0;

  &__container {
    @extend %flex-col;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    padding: calc($spacing * 5);
    gap: calc($spacing * 5);
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    font-weight: $font-weight-semibold;
    letter-spacing: -0.025em;
    transition: color 0.15s $ease-smooth, background-color 0.15s $ease-smooth,
      border-color 0.15s $ease-smooth, box-shadow 0.15s $ease-out;
    text-decoration: none !important;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
      font-size: 11px;
      line-height: 1.25rem;
      font-weight: $font-weight-medium;
      letter-spacing: 0.0125rem;
      color: $muted;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }

  &__content {
    @extend %flex-col;
    min-width: 0;
    gap: calc($spacing * 2);
  }

  &__title,
  &__body {
    text-transform: capitalize;
  }

  &__title {
    @include clamp-lines(1);
    font-size: 1rem;
    font-weight: $font-weight-bold;
    letter-spacing: -0.0187rem;
    color: $foreground;
    line-height: 1.5rem;
  }

  &__body {
    @include clamp-lines(2);
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
    font-weight: $font-weight-normal;
    letter-spacing: 0.0094rem;
    color: $muted;
    overflow-wrap: break-word;
  }

  &__meta {
    display: inline;
    font-weight: $font-weight-medium;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1rem;
    letter-spacing: -0.0125rem;
    color: $muted;

    &-user {
      display: inline-flex;
      align-items: center;
      gap: calc($spacing * 1);

      svg path {
        fill: $warning;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    width: 100%;

    &-link {
      display: inline-flex;
      align-items: center;
      font-weight: $font-weight-medium;
      transition: color 0.15s $ease-smooth;

      svg {
        margin-left: calc($spacing * 1);
      }
    }
  }
}

.c-article {
  max-width: 48rem;
  width: 100%;
  margin: 0 auto;

  &__container {
    @media (min-width: 48rem) {
      margin-left: calc($spacing * 8);
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: $font-weight-bold;
    letter-spacing: -0.0125rem;
    color: $foreground;
    text-transform: capitalize;
    margin-bottom: calc($spacing * 3);
  }

  &__meta {
    @extend %flex-between;
    flex: 1;
    gap: calc($spacing * 4);
    padding-block: calc($spacing * 4);
    margin-bottom: calc($spacing * 4);
    border-bottom: 1px solid $separator;

    &-user {
      display: flex;
      align-items: center;
      gap: calc($spacing * 3);
    }
  }

  &__date {
    color: $muted;
  }

  &__user-avatar {
    width: calc($spacing * 9);
    height: calc($spacing * 9);
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-radius: calc($spacing * 1000);
    overflow: hidden;
  }

  &__user-info {
    @extend %flex-col;
    font-size: 0.6875rem;
    line-height: 1.25rem;
    font-weight: $font-weight-medium;
    letter-spacing: -0.0125rem;
    color: $foreground;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  &__available-content {
    // display: flex;
    word-break: break-word;
    margin-bottom: calc($spacing * 4);
    width: 100%;

    p {
      font-family: -apple-system-ui-serif, ui-serif, "Spectral", "Georgia",
        serif;
      max-width: none;
      line-height: 1.6em;
      color: $muted;
      word-break: break-word;
      margin: 0 0 calc($spacing * 5) 0;
    }

    // prose max-w-none text-gray-700 leading-relaxed
  }
}

@media (hover: hover) {
  @supports (color: color-mix(in lab, red, red)) {
    .c-post:hover {
      background-color: #f9f9f9;
    }

    .c-post__container:hover {
      .c-post__footer-link {
        color: $accent !important;

        svg polyline {
          stroke: $accent !important;
        }
      }
    }
  }
}

@media (max-width: 48rem) {
  .c-back-button {
    margin-left: calc($spacing * -2);
  }
}
